<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/output.css" />
    <link rel="stylesheet" href="/styles/rm.css" />
    <script type="module" src="/components/client-components.js"></script>
    <rm-head page-title="About"></rm-head>
  </head>
  <body class="">
    <rm-default-container>
      <rm-nav-header class="block"></rm-nav-header>
      <main class="mt-4">
        <article>
          <div class="text-primary-700 mt-2 ml-8 text-4xl font-semibold">About</div>
          <section>
            <div class="text-primary-600 mx-8 my-2 text-base">
              For support read the documentation. If that fails try AI!
            </div>
            <div class="mt-8 ml-8">
              <rm-button size="xs">Extra Small</rm-button>
              <rm-button size="sm">Small</rm-button>
              <rm-button size="md">Medium</rm-button>
              <rm-button size="lg">Large</rm-button>

              <rm-button variant="secondary">Secondary</rm-button>
              <rm-button variant="danger">Danger</rm-button>

              <rm-button disabled>Disabled</rm-button>

              <rm-button size="lg" variant="danger" disabled>Large Danger Disabled</rm-button>
            </div>
            <div class="mt-8 ml-8"></div>
          </section>
        </article>
        <article>
          <div class="mx-8 mt-8">
            This text is nonsense and is used to test text wrapping & repsonsive settings only.
            Seamlessly empower frictionless e-business after global e-tailers. Rapidiously extend
            interactive infomediaries without go forward sources. Rapidiously transition diverse
            services whereas equity invested applications. Seamlessly initiate cost effective
            methodologies for virtual total linkage. Competently reintermediate transparent
            leadership through go forward vortals. Synergistically supply turnkey e-business for
            out-of-the-box vortals. Distinctively grow global relationships via.
          </div>
        </article>
      </main>
      <rm-footer></rm-footer>
    </rm-default-container>
    <div class="mx-8 mt-8"></div>
  </body>
</html>
