<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/output.css" />
    <link rel="stylesheet" href="/styles/rm.css" />
    <script type="module" src="/components/client-components.js"></script>
    <rm-head page-title="Colours"></rm-head>
  </head>
  <body class="">
    <rm-default-container>
      <rm-nav-header class="block"></rm-nav-header>
      <main class="mt-4">
        <article>
          <div class="text-primary-700 mt-2 ml-8 text-4xl font-semibold">Colours</div>
          <section>
            <div class="text-primary-600 mx-8 my-2 text-base">
              A display of the Taiwind colour pallettes used in bunstarter.
            </div>
            <!--
                          Flex Container:
                          Using 'items-start' to ensure cards with different row counts (Secondary vs Error)
                          hang from the top correctly.
                       -->
            <div class="mt-8 ml-8 flex flex-wrap items-start gap-6 pb-12">
              <rm-colour-swatch color="primary"></rm-colour-swatch>
              <rm-colour-swatch color="secondary"></rm-colour-swatch>
              <rm-colour-swatch color="error"></rm-colour-swatch>
              <rm-colour-swatch color="highlight"></rm-colour-swatch>
            </div>

            <div class="mt-8 ml-8"></div>
          </section>
        </article>
      </main>
      <rm-footer></rm-footer>
    </rm-default-container>
    <div class="mx-8 mt-8"></div>
  </body>
</html>
