<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/output.css" />
    <link rel="stylesheet" href="/styles/rm.css" />
    <script type="module" src="/components/client-components.js"></script>

    <rm-head page-title="Components"></rm-head>
  </head>
  <body class="">
    <rm-default-container>
      <rm-nav-header class="block"></rm-nav-header>
      <main class="mt-6">
        <div class="text-primary-700 mt-2 ml-8 text-4xl font-semibold">Components</div>

        <div class="my-8 ml-8"><hr /></div>

        <div class="my-2 ml-8">
          <span class="text-highlight3 font-bold"> &ltrm-button&gt </span> component test area:
        </div>
        <div class="my-8 ml-8">
          <rm-button xs>Extra Small</rm-button>
          <rm-button sm>Small</rm-button>
          <rm-button md>Medium</rm-button>
          <rm-button lg>Large</rm-button>
          <rm-button>Default settings</rm-button>
        </div>

        <div class="mt-8 ml-8 gap-4">
          <rm-button primary>Primary</rm-button>
          <rm-button outline>Outline</rm-button>
          <rm-button secondary>Secondary</rm-button>
          <rm-button danger>Danger</rm-button>
          <rm-button outline>Outline</rm-button>
          <rm-button ghost>Ghost</rm-button>
        </div>

        <div class="mt-8 ml-8 gap-4">
          <rm-button primary disabled>Primary</rm-button>
          <rm-button outline disabled>Outline</rm-button>
          <rm-button secondary disabled>Secondary</rm-button>
          <rm-button danger disabled>Danger</rm-button>
          <rm-button outline disabled>Outline</rm-button>
          <rm-button ghost disabled>Ghost</rm-button>
        </div>

        <div class="mt-8 ml-8 gap-4">
          <rm-button xs primary>Primary</rm-button>
          <rm-button sm outline>Outline</rm-button>
          <rm-button md secondary>Secondary</rm-button>
          <rm-button lg danger>Danger</rm-button>
          <rm-button outline>Outline</rm-button>
          <rm-button ghost>Ghost</rm-button>
        </div>
        <div class="mt-8 ml-8 gap-4">
          <rm-button xs pill primary>Primary</rm-button>
          <rm-button sm pill outline>Outline</rm-button>
          <rm-button md pill secondary>Secondary</rm-button>
          <rm-button lg pill danger>Danger</rm-button>
          <rm-button pill outline>Outline</rm-button>
          <rm-button pill ghost>Ghost</rm-button>
        </div>

        <div class="mt-8 ml-8 gap-4">
          <rm-button xs pill primary disabled>Primary</rm-button>
          <rm-button sm pill outline disabled>Outline</rm-button>
          <rm-button md pill secondary disabled>Secondary</rm-button>
          <rm-button lg pill danger disabled>Danger</rm-button>
          <rm-button pill outline disabled>Outline</rm-button>
          <rm-button pill ghost disabled>Ghost</rm-button>
        </div>

        <div class="my-8 ml-8"><hr /></div>

        <div class="my-2 ml-8">
          <span class="text-highlight3 font-bold"> &ltrm-x-button&gt </span> (a dedicated "Close /
          X" button component) test area:
        </div>
        <div class="my-8 ml-8">
          <rm-x-button xs></rm-x-button>
          <rm-x-button xs circle></rm-x-button>
          <rm-x-button sm></rm-x-button>
          <rm-x-button sm circle></rm-x-button>
          <rm-x-button></rm-x-button>
          <rm-x-button circle></rm-x-button>
          <rm-x-button lg></rm-x-button>
          <rm-x-button lg circle></rm-x-button>
        </div>
        <div class="mx-8 my-8"><hr /></div>

        <div class="mx-8 mt-8">
          The custom component
          <span class="text-highlight3 font-bold"> &ltrm-default-container&gt </span> wraps a page
          or code section so it is reponsive. This allows the consistent setting of viewport
          breakpoints across all views.
        </div>
        <div class="mx-8 mt-8">
          This text is nonsense and is used to test text wrapping & repsonsive settings using the
          <span class="text-highlight3 font-bold"> &ltrm-default-container&gt </span>only.
          Seamlessly empower frictionless e-business after global e-tailers. Rapidiously extend
          interactive infomediaries without go forward sources.
        </div>
      </main>
      <rm-footer></rm-footer>
    </rm-default-container>
    <div class="mx-8 mt-8"></div>
  </body>
</html>
