<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/output.css" />
    <link rel="stylesheet" href="/styles/rm.css" />
    <script type="module" src="/components/client-components.js"></script>
    <rm-head page-title="Countries"></rm-head>
  </head>
  <body class="bg-primary-50">
    <rm-default-container>
      <rm-nav-header class="block"></rm-nav-header>
      <main class="mt-4 w-4xl">
        <article>
          <div class="text-primary-700 mt-2 ml-8 text-4xl font-semibold">Countries</div>
          <section>
            <div class="text-primary-600 mx-8 mt-8 mb-4 text-2xl">Test data access</div>
            <div class="text-primary-600 mx-8 my-2 text-base">
              The test_countries table contains ISO country codes and descriptions for the top 100
              countries by GDP.
            </div>
            <div class="text-primary-600 mx-8 mt-2 mb-8 text-base">
              The search string must be 2 characters or longer. The search is across ISO Name and
              Official Name fields.
            </div>

            <div class="text-primary-600 mx-8 my-2 flex text-base">
              <div class="flex">
                <div class="focus-within:relative">
                  <input
                    id="searchTerm"
                    type="text"
                    name="searchTerm"
                    required
                    placeholder="Search countries"
                    class="text-primary-700 outline-primary-300 placeholder:text-primary-400 focus:outline-primary-600 w-xs rounded-sm bg-white py-1.5 pr-3 pl-4 text-base outline-1 -outline-offset-1 focus:outline-2 focus:-outline-offset-2 sm:text-sm/6"
                  />
                </div>
              </div>
              <rm-button id="searchCountriesBtn" size="sm" class="ml-8">Search Countries</rm-button>
              <div id="searchError" class="text-error1 mt-2 ml-4 text-sm font-semibold"></div>
            </div>
            <div id="countriesResult" class="mx-8 mt-4 text-xs"></div>
          </section>
        </article>
      </main>
      <rm-footer></rm-footer>
    </rm-default-container>
    <script src="/scripts/countries-search.js"></script>
  </body>
</html>
