<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Red Mug</title>

    <link rel="stylesheet" href="/styles/rm.css" />
    <link rel="stylesheet" href="/styles/output.css" />

    <script type="module" src="/components/client-components.js"></script>
  </head>
  <body class="flex min-h-screen flex-col bg-gray-100">
    <rm-container>
      <rm-nav-header></rm-nav-header>

      <main class="flex grow items-center justify-center px-4 pt-12">
        <rm-login></rm-login>
      </main>

      <rm-footer></rm-footer>
    </rm-container>
  </body>
</html>
