@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Mono");
:root {
  --qd-main-font: "Lato", sans-serif;
  --qd-heading-font: "Inter", sans-serif;
  --qd-heading-margin: 60px 0 30px 0;
  --qd-code-font: "Noto Sans Mono", monospace;
  --qd-slides-code-block-font-size: 1.3em;
  --qd-code-span-font-size: 0.9em;
  --qd-block-margin: 1.8em;
  --qd-line-height: 1.6;
  --qd-code-line-height: 1.85;
  --qd-heading-label-suffix: "";
  --qd-box-border-radius: 10px;
  --qd-box-icon-baseline: 0.1em;
}

.quarkdown-scope-slides {
  --qd-line-height: 1.8;
}

.quarkdown-scope h1 {
  --h-font-scale: 3.25;
  font-size: 3.25em;
}
.quarkdown-scope h2 {
  --h-font-scale: 2.21;
  font-size: 2.21em;
}
.quarkdown-scope h3 {
  --h-font-scale: 1.82;
  font-size: 1.82em;
}
.quarkdown-scope h4 {
  --h-font-scale: 1.56;
  font-size: 1.56em;
}
.quarkdown-scope h5, .quarkdown-scope h6 {
  --h-font-scale: 1.3;
  font-size: 1.3em;
}
.quarkdown-scope h1 {
  line-height: calc(3.25em / var(--h-font-scale, 1.5));
  margin-bottom: calc(2.025em / var(--h-font-scale, 1.5));
}
.quarkdown-scope h2 {
  line-height: calc(2em / var(--h-font-scale, 1.5));
  margin-top: calc(3em / var(--h-font-scale, 1.5));
}
.quarkdown-scope h3 {
  margin-top: calc(2.5em / var(--h-font-scale, 1.5));
}
.quarkdown-scope h4 {
  margin-top: calc(2em / var(--h-font-scale, 1.5));
}
.quarkdown-scope h5 {
  margin-top: calc(1.8em / var(--h-font-scale, 1.5));
}
.quarkdown-scope h6 {
  margin-top: calc(2.5rem / var(--h-font-scale, 1.5));
}
.quarkdown-scope h3, .quarkdown-scope h4, .quarkdown-scope h5, .quarkdown-scope h6 {
  line-height: calc(1.625em / var(--h-font-scale, 1.5));
}
.quarkdown-scope h1 + h2 {
  margin-top: calc(1.625em / var(--h-font-scale, 1.5));
}
.quarkdown-scope h2 + h3,
.quarkdown-scope h3 + h4,
.quarkdown-scope h4 + h5 {
  margin-top: calc(0.8em / var(--h-font-scale, 1.5));
}
.quarkdown-scope h5 + h6 {
  margin-top: calc(0.8rem / var(--h-font-scale, 1.5));
}
.quarkdown-scope h2, .quarkdown-scope h3, .quarkdown-scope h4, .quarkdown-scope h5, .quarkdown-scope h6 {
  margin-bottom: calc(1.2em / var(--h-font-scale, 1.5));
}
.quarkdown-scope table:not(pre table) {
  border-spacing: 0;
  border-collapse: collapse;
}
.quarkdown-scope table:not(pre table) th, .quarkdown-scope table:not(pre table) td {
  padding: 0.5em 1em !important;
  border: 1px solid;
}
.quarkdown-scope table:not(pre table) tr:first-child th {
  border-top: 0;
}
.quarkdown-scope table:not(pre table) tr:last-child td {
  border-bottom: 0;
}
.quarkdown-scope table:not(pre table) tr th:first-child, .quarkdown-scope table:not(pre table) tr td:first-child {
  border-left: 0;
}
.quarkdown-scope table:not(pre table) tr th:last-child, .quarkdown-scope table:not(pre table) tr td:last-child {
  border-right: 0;
}
.quarkdown-scope nav ol {
  list-style-type: none;
  margin: 0;
  padding-left: 12px;
}
.quarkdown-scope nav ol ol {
  border-left: 2px solid;
  border-radius: 2px;
  margin-left: 1px;
  padding: 0 0 0 28px;
}
.quarkdown-scope nav li {
  margin: 4px 0;
}
.quarkdown-scope nav [data-location]::before {
  opacity: 0.5;
}
.quarkdown-scope .quarkdown-scope-slides nav > ol {
  margin-left: auto;
}
.quarkdown-scope .quarkdown-scope-slides nav, .quarkdown-scope .quarkdown-scope-slides h1#table-of-contents {
  margin-left: 44px;
}
.quarkdown-scope .page-margin-bottom-center > * {
  padding: 12px;
  margin: 0 !important;
  border-top: 2px solid;
  border-color: inherit;
}
.quarkdown-scope .page-margin-bottom-center > *:first-child {
  margin-left: 64px !important;
}
.quarkdown-scope .page-margin-bottom-center > *:last-child {
  margin-right: 64px !important;
}
.quarkdown-scope .page-margin-bottom-center > p {
  line-height: 1;
}
.quarkdown-scope ul, .quarkdown-scope ol {
  line-height: 1.5;
}
.quarkdown-scope blockquote {
  font-style: italic;
  border-left: 0.4em solid;
  padding-left: 1em;
  padding-right: 1em;
}
.quarkdown-scope figure img {
  margin-bottom: 0.5em !important;
}
.quarkdown-scope figure figcaption, .quarkdown-scope table caption {
  font-size: 0.8em;
  font-style: italic;
}
.quarkdown-scope .box > header > h4 {
  font-size: 1em;
}
.quarkdown-scope .codespan-content {
  margin: 0 0.2em;
  padding: 0.3em 0.6em;
  border-radius: 8px;
  line-height: normal;
  background-color: color-mix(in srgb, currentColor 9%, transparent);
}
.quarkdown-scope .codespan-content .color-preview {
  margin-left: 0.4em;
  border-radius: 3px;
  border: 0.1em solid color-mix(in srgb, currentColor 60%, transparent);
}
.quarkdown-scope .cross-reference {
  font-style: italic;
}
.quarkdown-scope [data-location]:is(h1, h2, h3, h4, h5, h6, li)::before {
  opacity: 0.3;
  font-weight: normal;
  margin-right: 0.4em;
}

/*# sourceMappingURL=minimal.css.map */
